@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;1,400&family=Lato&display=swap");

#pointer {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: hsl(221, 57%, 15%, 0.1);
    mix-blend-mode: screen;
    pointer-events: none;
    box-shadow:
        0px 0px 200px hsl(221, 57%, 15%, 0.1),
        0px 0px 250px hsl(221, 57%, 15%, 0.1),
        0px 0px 350px hsl(221, 57%, 15%, 0.1);
}

.wrapper {
    background: #111f3e;
    height: 100%;
    font-weight: 500;
    font-family: "IBM Plex Serif";
    @media (max-width:1024px){
        padding: 0 10px;
    }
    .container-max {
        margin: 0 auto;
        max-width: 1200px;
        padding-left: 6rem;
        padding-right: 6rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        @media (max-width:1024px){
            flex-direction: column;
            padding: 0;
        }
        header {
            max-width: 50%;
            padding: 6rem 0;
            @media (min-width: 1024px) {
                position: sticky;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100vh;
            }
            @media (max-width:1024px){
                padding: 1rem 0;
                max-width: 100%;
            }
            .header-description {
                color: #cfd8ef;
                .name {
                    font-size: 3rem;
                    font-weight: 700;
                    margin: 0;
                    @media (max-width:767px){
                        font-size: 2rem;
                    }
                }
                .title {
                    font-size: 1.7rem;
                    font-weight: 500;
                    margin: 0;
                    @media (max-width:767px){
                        font-size: 1.3rem;
                    }
                }
                .about {
                    font-size: 1rem;
                    max-width: 85%;
                    @media (max-width:767px){
                        font-size: .9rem;
                    }
                }
                .header-link {
                    @media (max-width:1024px){
                        display: none;
                    }
                    ul {
                        position: relative;
                        gap: 15px 0;
                        padding: 0;
                        width: fit-content;
                        li {
                            list-style: none;
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            span {
                                height: 2px;
                                width: 35px;
                                transition: 0.3s;
                                background: #fff !important;
                            }
                            a {
                                text-decoration: none;
                                color: #cfd8ef;
                                font-size: 0.9rem;
                                letter-spacing: 1px;
                                position: relative;
                                text-transform: uppercase;
                            }
                            &:hover {
                                span {
                                    width: 60px;
                                }
                            }
                        }
                    }
                }
            }
            .header-social-links {
                a {
                    color: #cfd8ef;
                    padding: 10px;
                    &:hover {
                        color: #fff;
                    }
                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
        main {
            width: 60%;
            color: #a7bad7;
            padding: 6rem 0;
            user-select: none;
            @media (max-width:1024px){
                padding: 1rem 0;
                width: 100%;
            }
            @media (max-width:767px){
                font-size: .9rem;
            }
            #about {
                .about-text{
                    display: none;
                    @media (max-width:1024px){
                        position: sticky;
                        text-transform: uppercase;
                        top: 0;
                        display: block;
                        font-size: 20px;
                        color: #fff;
                        background: hsl(220, 62%, 16%,.95);
                        padding: 1rem 10px;
                    }
                }
                span {
                    color: #fff;
                }
            }
            #experience {
                .experience-text{
                    display: none;
                    @media (max-width:1024px){
                        position: sticky;
                        top: 0;
                        display: block;
                        font-size: 20px;
                        color: #fff;
                        background: hsl(220, 62%, 16%,.95);
                        text-transform: uppercase;
                        padding: 1rem 10px;
                    }
                }
                cursor: pointer;
                padding-top: 100px;
                @media (max-width:1024px){
                    padding: 1rem 0;
                }
                .exp-card {
                    padding: 20px;
                    display: flex;
                    gap: 20px;
                    color: #a7bad7 !important;

                    transition: 0.3s;
                    .company-name {
                        font-size: 20px;
                        color: #fff;
                        font-weight: bold;
                        letter-spacing: 2px;
                        margin: 0;
                    }
                    .date {
                        text-wrap: nowrap;
                        letter-spacing: 1px;
                    }
                    .title {
                        color: #fff;
                        font-weight: 500;
                        letter-spacing: 1px;
                    }
                    @media (min-width:1024px){
                        &:hover {
                            background: rgba(255, 255, 255, 0.1);
                            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                            backdrop-filter: blur(2px);
                            -webkit-backdrop-filter: blur(2px);
                            border-radius: 10px;
                        }
                    }
                }
            }
            #projects {
                .project-text{
                    display: none;
                    @media (max-width:1024px){
                        position: sticky;
                        text-transform: uppercase;
                        top: 0;
                        display: block;
                        font-size: 20px;
                        color: #fff;
                        background: hsl(220, 62%, 16%,.95);
                        padding: 1rem 10px;
                    }
                }
                cursor: pointer;
                padding-top: 80px;
                @media (max-width:1024px){
                    padding: 1rem 0;
                }
                .exp-card {
                    color: #a7bad7 !important;
                    padding: 20px;
                    display: flex;
                    gap: 20px;
                    transition: 0.3s;
                    @media (max-width:1024px){
                        flex-direction: column;
                    }
                    img {
                        max-width: 150px;
                        height: 80px;
                        object-fit: cover;
                        @media (max-width:1024px){
                            max-width: 100% !important;
                            height: auto;
                        }
                    }
                    .detail {
                        .title {
                            font-size: 20px;
                            color: #fff;
                            margin: 0;
                        }
                    }
                    @media (min-width:1024px){
                        &:hover {
                            background: rgba(255, 255, 255, 0.1);
                            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                            backdrop-filter: blur(2px);
                            -webkit-backdrop-filter: blur(2px);
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}
